[Unit]
Description=Run RollingThunder Deploy Report Publisher every 30 seconds

[Timer]
Unit=rt-radio-deploy-report-publisher.service
OnBootSec=10
OnUnitActiveSec=30
AccuracySec=1

[Install]
WantedBy=timers.target
