[Unit]
Description=Run RollingThunder Deploy Report (controller) every 30 seconds

[Timer]
Unit=rt-deploy-report-controller.service
OnBootSec=10
OnUnitActiveSec=30
AccuracySec=1

[Install]
WantedBy=timers.target
