[Unit]
Description=Run RollingThunder Deploy Report Publisher every 30 seconds

[Timer]
OnBootSec=10
OnUnitActiveSec=30
AccuracySec=1

[Install]
WantedBy=timers.target
