[Unit]
Description=RollingThunder Console LED Sender
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=spiff
Group=spiff
WorkingDirectory=/opt/rollingthunder
ExecStart=/opt/rollingthunder/.venv/bin/python /opt/rollingthunder/services/console_led_sender.py
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal
Environment=RT_REDIS_HOST=127.0.0.1
Environment=RT_REDIS_PORT=6379
Environment=RT_REDIS_DB=0
EnvironmentFile=/etc/rollingthunder/redis.env


[Install]
WantedBy=multi-user.target